body {
	background-color: #aaaaaa;
	margin: 0 auto;
	font-family: Arial;
}

.topNav {
	background-color: #e0e0e0;
	overflow: hidden;
}

.topNav a {
	float: left;
	color: #2636B2;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
	text-decoration: none;
}

.topNav a:hover {
	color: #5064FF;
}

.topNav a.active {
	color: white;
	background-color: #5064FF;
}

.logo {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}