body {
	background-color: #aaaaaa;
	margin: 0 auto;
	font-family: Arial;
}

.topNav {
	background-color: #e0e0e0;
	height: 7%;
	width: 100%;
}

.topNav ul {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.topNav ul li {
	display: inline;
}

.topNav a {
	display: inline-block;
	color: #2636B2;	
	margin: 1%;
	text-decoration: none;
	font-size: 1.25em;
}

.topNav a:hover {
	color: #5064FF;
}

.logo {
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}