/**
----------
-- Main --
----------
**/

body {
	background-color: #aaaaaa;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif  ;
	min-width: 900px;
}

.contents {
	padding-top: 160px;
	padding-bottom: 160px;
}

.emailButton {
	width: 30%;
	height: 75px;
	background-color: e0e0e0;
	color: #2636B2;
	font-size: 2em;
	border: 1px solid #2636B2;
	margin-left: 35%;
	margin-right: 35%;
}

.emailButton:hover {
	color: #5064FF;
}

/**
-------------
-- Top Nav --
-------------
**/

.topNav {
	background-color: #e0e0e0;
	overflow: hidden;
	position: fixed;
	width: 100%;
	min-width: 900px;
}

.topNav a {
	float: left;
	color: #2636B2;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
	text-decoration: none;
}

.topNav a:hover {
	color: #5064FF;
}

.topNav a.active {
	color: white;
	background-color: #5064FF;
}

.social {
	float: right;
	padding-right: 25px;
}

.social img {
	padding: none;
	height: 20px;
}

/**
------------
-- Blocks --
------------
**/

.block {
	margin: 0 auto;
	margin-bottom: 50px;
	width: 1000px;
	background-color: white;
	border: 2px solid #2636B2;
}

.block h1 {
	text-align: center;
	margin: 0;
	background-color: #2636B2;
	color: white;
	padding: 16px
}

.block p {
	padding: 16px;
}

.blockEmbed {
	width: 800px;
	display: block;
	border: none;
	overflow: hidden;
	height: 100%;
	margin-left: 84px;
	margin-right: 84px;
	padding: 16px;
	padding-top: 0px;
}

.calendarEmbed {
	border: 0;
	width: 1000px;
	height: 600px;
}

/**
------------
-- Images --
------------
**/

.logo {
	/**width: 50%;**/
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.icon {
	float: left;
	padding: 7px 16px;
	margin: auto;
}

/**
------------
-- Footer --
------------
**/

footer {
	background-color: #e0e0e0;
	border-top: 2px solid #2636B2;
	text-align: center;
	padding: 10px 0;
}

footer p {
	margin: 0;
	padding: 0;
}

.footerIcon {
	display: block;
	margin: auto;
}